configuration {
    combi-hide-mode-prefix: true;
    show-icons: true;
    terminal: "termite";
    combi-modi: "drun,run,ssh";
    matching: "fuzzy";
	theme: "~/.local/share/rofi/themes/materia.rasi";
}

