[Unit]
Description=Startup Service

[Service]
Type=oneshot
ExecStart=/home/tony/.scripts/startup.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
